<div>
        <div class="addbookheading">
                <h4>Book Bank</h4>
                <input type="text" ng-model="search" placeholder="Search" class="searchText fa fa-search">
            </div>


    <div ng-repeat="book in books | filter: search " >

        <!-- <li ng-class="{'showRight' : msg.createdBy == user_id, 
            
                'showLeft' : msg.createdBy != user_id}"> -->

                

        <div class="col-xs-4" >
            <div class="cardd">
                <div class=header>
                    {{book.author}}

                </div>
                <div class="body">
                    {{book.name}}
                    <div class="prize">
                       $ {{book.prize}}
                    </div>
                </div>
                <div class="fevButton">
                    <button class="Button" style="width: 100%"  ng-click="addfevBOOK(book.name,book.prize,book.author);">Add to Favouirates
                    </button>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-4">
            <div class="cardd">
                <div class=header>
                    {{book[$index + 1].author}}

                </div>
                <div class="body">
                    {{book.name}}
                    <div class="prize">
                        {{book.prize}}
                    </div>
                </div>
                <div class="fevButton">
                    <button class="Button" ng-click="addfevBOOK(book.name,book.prize,book.author);">Add to Favouirates
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="cardd">
                <div class=header>
                    {{book[$index + 2].author}}

                </div>
                <div class="body">
                    {{book.name}}
                    <div class="prize">
                        {{book.prize}}
                    </div>
                </div>
                <div class="fevButton">
                    <button class="Button" ng-click="addfevBOOK(book.name,book.prize,book.author);">Add to Favouirates
                    </button>
                </div>
            </div>
        </div> -->

    </div>
</div>

<!--     <div ng-repeat="product in products" ng-if="$index % 3 == 0" class="row">
        <div class="col-xs-4">{{products[$index]}}</div>
        <div class="col-xs-4">{{products[$index + 1]}}</div>
        <div class="col-xs-4">{{products[$index + 2]}}</div>
    </div> -->